/*
    CSS SHEET FOR ISTE 140 PROJECT 2
    JAMILE LEEN DINGMUKHAMMED 
*/


/*-------------------------THE BELOW CODES ARE DEDICATED FOR THE INDIA PAGE (india.html)-------------------------*/

/* resetting page defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* accounts for margin and padding */
    scroll-behavior: smooth; /* ensures smooth transition when target elements are clicked */
}
  
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #1b1b1b;
}

/* container class that carries all main content */
.container {
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
 
/* style for navigation bar positioned to the right of the page */
.nav {
    position: fixed;
    top: 0;
    right: 0; 
    width: 175px; 
    height: 100vh;
    background-color: #eb7c059a;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 1000; /* making sure navigation bar is on top of everything*/
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); 
    align-items: center;
    justify-content: center;
}

/*style for mobile + tablet navigation bar*/
.nav-mobile{
    width: 100vw; 
    height: auto;
    background-color: #eb7c059a;
    display: none; /* hidden in desktop view */
    padding: 5px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); 
    align-items: center;
    justify-content: center;
}
.nav-mobile summary {
    list-style-type: none; /* removes default arrow */
    font-size: 2em;
    cursor:pointer; /* makes cursor a pointer so user knows its clickable*/
    text-align: center;
}
.nav-mobile ul {
    list-style-type: none;
    text-align: center;
}
.nav-mobile li {
    padding: 5px;
    font-size: 1.2em;
}

/* navigation links styling + hover interactions */
.nav a, .nav-mobile a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6em;
    padding: 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; 
}
  
.nav a:hover, .nav-mobile a:hover {
    background-color: #023002; 
    transform: translateX(5px); 
}

/* header styling */
.head {
    position: relative;
    background-image: url('../media/india/spices.jpg'); /*bg image for the header */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-right: 220px; /* making space for nav on the right */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* styling to make header darker */
.head::before {
    content: ''; /*no content just for overlay*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; /* overlay sits on top of header */
}
  
.head h2 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.head p {
    font-size: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
}
  
.head h2, .head p {
    position: relative;
    z-index: 2; /* text above overlay */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

/* content class for div holding all the content */
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 60px 20px;
    margin-right: 220px;
    background-color: #1b1b1b;
    color: #fff;
}

.history h1 {
    color: #eb7c05;
}

.history p {
    font-size: 1.3em;
    text-align: justify; /* text takes all available space */
}

.history img {
    width: 230px;
    float: left;
    padding: 5px;
    background-color: #2c2c2c;
    border-radius: 8px;
    margin: 15px;
}

/* to wrap content differently inside the .content div */
.content-wrapper {
    display: flex;
    flex-direction: column; /* stack cards vertically */
    gap: 30px;
    justify-content: center;
    padding: 30px;
}

  
.content-wrapper2 {
    display: flex;
    flex-direction: row; /* stacks cards side by side  */
    gap: 30px;
    justify-content: center;
    padding: 30px;
}

/* content info card styling */
.info-card {
    background-color: #2c2c2c;
    border: 2px solid #eb7c05;
    border-radius: 15px;
    max-width: 90vw;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.card-content {
    display: flex;
    flex-wrap: wrap; /* makes it wrap if overflow */
    gap: 20px;
    align-items: center;
}

.card-text {
    flex: 1; /* all elements take same size */
}

.card-img {
    flex: 1; /* all elements take same size */
}

.card-img img {
    flex: 1; /* all elements take same size */
    border-radius: 8px;
    width: 300px;
}
  
.card-video iframe {
    border-radius: 10px;
    max-width: 100%; /* maintains size when resized */
}
  
.info-card h3 {
    font-size: 2rem;
    color: #eb7c05;
    margin-bottom: 20px;
    text-align: center;
}
  
.info-card p {
    font-size: 1.3em;
    color: #ddd;
    line-height: 1.8;
    text-align: justify; /* text fills whole available space */
}

.info-card:hover {
    transform: translateY(-10px); /* makes div pop up when hover */
    box-shadow: 0 8px 20px rgba(88, 65, 41, 0.7);
    background-color: #3a3a3a;
}

/* styling for text&content not inside info card */
.text {
    margin: 15px;
    font-size: 1.3em;
}

.text h1 {
    color: #eb7c05;
}

.text iframe {
    width: 100%;
    max-width: 600px;
    border: none; 
    margin-top: 20px;
    border-radius: 8px;
    background-color: #2c2c2c;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text:hover iframe {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(88, 65, 41, 0.7);
}

/* styling for spices showcase (not acc a grid uses flex instead for easy wrapping) */
.spices-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px auto;
    padding: 15px;
    justify-content: space-between;
}

.spice-card {
    background-color: #2c2c2c;
    border: 2px solid #eb7c05;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    position: relative;
    height: 150px;
    width: 150px;
}

.spice-card img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: opacity 0.3s; /* when hover image opacity lowered to show text */
}

.spice-card:hover {
    transform: scale(1.05);
    background-color: #3a3a3a;
    box-shadow: 0 8px 20px rgba(88, 65, 41, 0.7);
}

.spice-card:hover img {
    opacity: 0.3;
}

.spice-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    z-index: 2;
}

.spice-info p {
    font-size: 0.75em;
}

.spice-card:hover .spice-info {
    opacity: 1;
}

/* info card specific */
.regional-delicacies {
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #2c2c2c;
    border: 2px solid #eb7c05;
    border-radius: 15px;
    max-width: 500px;
    margin: 0 auto;
  }

.regional-delicacies:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(88, 65, 41, 0.7);
    background-color: #3a3a3a;
}

  
.regional-delicacies h2 {
    text-align: center;
    color: #eb7c05;
    font-size: 1.8rem;
}
  
.regions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
  
.region-link {
    text-decoration: none;
    background-color: #eb7c05;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
  
.region-link:hover {
    background-color: #ff9e45;
    transform: scale(1.05);
}

/* styling for dishes showcase */
.dishes {
    margin-top: 20px;
}
  
.dish {
    display: none;
    text-align: center;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #eb7c05;
    border-radius: 5px;
    color: #333;
}

.dish img {
    width: 200px;
    height: 200px;
    object-fit: cover; /*ensures image is not stretched*/
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dish:hover img {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* target functionality */
.dish:target {
    display: block;
}

/* footer styling */
footer {
    width: 100vw;
    background-color: #012601;
    color: #f1f1f1;
    padding: 2rem 0;
    font-family: Arial, sans-serif;
}
  
.footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 2rem;
}
.footer-container > div {
    flex: 1;
    min-width: 200px;
    margin-bottom: 1.5rem;
}
.footer-about p {
    font-size:1rem;
    color: #f1f1f1;
    line-height: 1.5;
}
.footer-contact p {
    font-size: 1rem;
    margin: 0.3rem 0;
    color: #f1f1f1;
}
.footer-contact p:hover {
    color: #b5e7a0;
}
.footer-bottom {
    text-align: center;
    padding: 1rem;
    background-color: #ccc;
    font-size: 0.9rem;
    color: #023002;
}  
.footer-bottom:hover {
    background-color: #eb7c05;
    color: #023002;
}

/*responsive mobile design*/
@media (max-width: 500px) {
    /*ressetting padding and margins that we put for the right aligned nav*/
    .container {
        padding: 0px;
    }
    .content-wrapper {
        padding: 0px;
    }
    .content-wrapper2 {
        flex-direction: column;
        padding: 0px;
    }
    /*removing desktop nav*/
    .nav {
        display: none;
    }
    /*showing hamburger nav*/
    .nav-mobile {
        display: flex;
    }
    .nav-mobile a {
        font-size: 1em;
        padding: 5px;
    }  
    /*making font sizes smaller*/  
    .head {
        height: 300px;
        padding-right: 0;
    }
    .head h2 {
        font-size: 2em;
    }
    .head p {
        font-size: 1em;
    }
    .content {
        margin-right: 0;
    }
    .history p {
        font-size: 1em;
    }
    .history h1 {
        font-size: 1.25em;
    }
    .history img {
        width: 150px;
    }
    .info-card {
        margin-top: 15px;
    }
    .card-text p {
        font-size: 1em;
    }
    .text {
        margin: 0px;
        font-size: 1em;
        padding: 0px;
    }
    .text h1 {
        font-size: 1.25em;
    }
    /*spice grid into column so user can see them all*/
    .spices-grid {
        flex-direction: column;
    }    
}

/*responsive tablet design*/
@media (max-width: 900px) and (min-width: 501px) { 
    /*ressetting padding and margins that we put for the right aligned nav*/
    .container {
        padding: 0px;
    }
    .content-wrapper {
        padding: 0px;
    }
    .content-wrapper2 {
        flex-direction: column;
        padding: 0px;
    }
    /*removing desktop nav and showing mobile nav*/
    .nav {
        display: none;
    }
    .nav-mobile {
        display: flex;
    }
    .nav-mobile a {
        font-size: 1.5em;
        padding: 5px;
    } 
    /*font size changing*/   
    .head {
        height: 300px;
        padding-right: 0;
    }
    .head h2 {
        font-size: 2.5em;
    }
    .head p {
        font-size: 1.5em;
    }
    .content {
        margin-right: 0;
    }
    .history p {
        font-size: 1em;
    }
    .history h1 {
        font-size: 1.25em;
    }
    .history img {
        width: 150px;
    }
    .info-card {
        margin-top: 15px;
    }
    .card-text p {
        font-size: 1em;
    }
    .text {
        margin: 0px;
        font-size: 1em;
        padding: 0px;
    }
    .text h1 {
        font-size: 1.25em;
    }
    /*spice grid into row in the middle for better view*/
    .spices-grid {
        flex-direction: row;
        justify-content: center;
    }    
}